<head>
  <title>CpERMS | Registration</title>
  <!-- LOCAL -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

{{> header_admin }}

<!--admin registration-->
<br>
<div style="width: 80%; position: absolute; right: 0;">
  <div class="d-flex justify-content-center small">
    <div class="container">
      <div class="row">
        <!--tabs-->
        <div class="navbar navbar-static">
          <div class="navbar-collapse collapse">
            <!--inside nav-->
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#user_reg" role="tab" aria-selected="true">User Registration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#class_reg" role="tab" aria-selected="true">Class Registration</a>
              </li>
            </ul><!--inside nav-->
          </div>
        </div><!--tabs-->
      </div>
      <br>
      <!--tab content-->
      <div class="tab-content well">
        <!--user_reg-->
        <div id="user_reg" class="tab-pane fade in active">
          <div class="d-flex">
            <div class="col-md-12 col-sm-12">
              <h4>User Registration</h4>
              <hr class="botm-line">
            </div>
          </div>
          <div class="d-flex justify-content-center small">
            <div class="col-md-9 col-sm-9">
              <form method="POST" action="/admin/registration/user">
                <!--usertype class batch-->
                <div class="row form-group">
                  <div class="col-sm-6">
                    Usertype
                    <select style="height: 2.5em" class="form-control gray" name="usertype" id="user_type" required>
                      <option hidden>Usertype</option>
                      <option value ="student" >Student</option>
                      <option value ="faculty">Faculty</option>
                      <option value ="guest">Guest Panel</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    Section
                    <select style="height: 2.5em" class="form-control gray" name="class" id="user_class" required>
                      <option hidden>Section</option>
                      {{#each class}}
                      <option value ="{{this.id}}">Section: {{this.section}} Batch: {{batch_year}} </option>
                      {{/each}}  
                    </select>
                  </div>
                </div><!--usertype class batch-->
                <div class="form-group">
                  First Name
                   <input type="name" name="fname" class="form-control" id="first_name" placeholder="First Name" required>
                </div>
                <div class="form-group">
                  Middle Name
                   <input type="name" name="mname" class="form-control" id="last_name" placeholder="Middle Name">
                </div>
                <div class="form-group">
                  Last Name
                   <input type="name" name="lname" class="form-control" id="last_name" placeholder="Last Name" required>
                </div>
                <div class="form-group">
                  Contact Number (format: xxxx-xxx-xxxx)
                   <input type="tel" name="contacts" class="form-control" id="contact_number" placeholder="Contact Number" pattern="^\d{4}-\d{3}-\d{4}$" required>
                </div>
                <div class="form-group">
                  Email Address
                   <input type="email" name="email" class="form-control" id="email_address" placeholder="Email Address" required>
                </div>
                Password
                <div class="form-group input-group">
                   <input type="password" name="password" class="form-control" id="user_password" placeholder="Password" required>
                   <div class="input-group-addon">
                      <span toggle="#user_password" class="fa fa-fw fa-eye see-pw toggle-password"></span>
                   </div>
                </div>
                <div class="form-group">
                   <button type="submit" class="btn btn-success pull-right" id="loading" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Please wait..."><i class="fa fa-paper-plane"></i> Register</button>
                </div>
              </form>
            </div>
          </div>
        </div><!--user_reg-->
        <!--class_reg-->
        <div id="class_reg" class="tab-pane fade">
          <div class="d-flex">
            <div class="col-md-12 col-sm-12">
              <h4>Class Registration</h4>
              <hr class="botm-line">
            </div>
          </div>
          <div class="d-flex justify-content-center small">
            <div class="col-md-9 col-sm-9">
              <form method="POST" action="/admin/registration/class">
                <div class="row form-group">
                  <div class="col-sm-6">
                    Section
                    <input name="class_no" class="form-control" id="class_no" placeholder="Section" required>
                  </div>
                  <div class="col-sm-6">
                    Batch
                    <select style="height: 2.5em" class="form-control gray" name="acad_year" id="acad_year" required>
                      <option hidden>Batch</option>
                      <option value="">2014</option>
                      <option value="">2015</option>
                      <option value="">2016</option>
                      <option value="">2017</option>
                      <option value="">2018</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  Adviser
                  <select style="height: 2.5em" class="form-control gray" name="adviser" id="user_type" required>
                    <option value="" hidden>Adviser</option>
                    {{#each faculty}}
                    <option value ="{{this.id}}">{{this.first_name}}  {{this.last_name}}</option>

                    {{/each}}
                  </select>
                </div>
                <div class="form-group">
                   <button type="submit" class="btn btn-success pull-right" id="loading" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Please wait..."><i class="fa fa-paper-plane"></i> Register</button>
                </div>
              </form>
            </div>
          </div>
        </div><!--class_reg-->
      </div><!--tab content-->
    </div>
  </div>
</div>
<!--admin registration-->

<script type="text/javascript" src="../../js/seepassword.js"></script>

<script type="text/javascript">
$(function() {
  $("#user_type").change(function() {
    if ($(this).val() == "student") {
      $("#user_class").prop("disabled", false);
    }
    else
      $("#user_class").prop("disabled", true);
  });
});
</script>
