<head>
  <title>CpERMS | MOR</title>
  <!-- LOCAL -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

{{> header_faculty }}

<!--faculty mor-->
<div class="d-flex justify-content-center small">
  <div>
    <div class="navbar navbar-static">
      <div class="navbar-collapse collapse">
        <!--inside nav-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          {{#if adviser}}
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#manage_class" role="tab" aria-selected="true">Manage Class</a>
          </li>
          {{/if}}
            {{#if committee}}
          <li class="nav-item">
            <a class="nav-link"  data-toggle="tab" href="#for_review" role="tab" aria-selected="false">For Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#reviewed" role="tab" aria-selected="false">Reviewed</a>
          </li>
             {{/if}}
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#approved" role="tab" aria-selected="false">Approved by Committee</a>
          </li>
          {{#if adviser}}
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#class" role="tab" aria-selected="false">Class</a>
          </li>
          {{/if}}
        </ul><!--inside nav-->
      </div>
    </div>
    <br>
      
    <div class="tab-content well">
      <!--manage_class-->
    {{#if adviser}}
      <div id="manage_class" class="tab-pane fade in active">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-sm-12">
             <form action="/faculty/mor/classid" method="post">
              <select style="height: 2.5em" class="form-control gray" name="class_id" id="classhandled" required>
                {{#each classHandled}}
                <option hidden> Section</option>
                <option value ="{{this.id}}">Section: {{this.section}} - Batch: {{this.batch_year}}</option>
                {{/each}}
             </select>
              <input id='submitClassId' type="submit" name="submit" value="Submit"hidden>
             </form><br>
              <h4>Individuals</h4>
              <hr class="botm-line">
              <form method="post" action="/faculty/mor">
                <div class="form-group">
                   <label class="sr-only" for="first_name">Group Name</label>
                   <input type="name" name="groupName" class="form-control" id="first_name" placeholder="Group name here" required>
                </div>
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr class="info center">
                      <th style="width: 15%">Number</th>
                      <th>Name</th>
                      <th style="width: 15%"></th>
                    </tr>
                  </thead>
                  <tbody>
                     {{#each classList}}
                    <tr class="center">
                     <td></td>
                     <td>{{this.first_name}} {{this.last_name}} </td>
                     <td> 
                      <input class = "form-control" type="checkbox" name="studentid" value="{{this.student_id}}"> 
                     </td>
                    </tr>
                     {{/each}}
                  </tbody>
                </table>
                 <input type="text" name="classid" class="form-control" value = "{{classid}}"id="first_name" placeholder="Group name here..." hidden>
                <div class="footer form-group">
                  <button type="submit" class="btn btn-success btn-sm pull-right" id="loading" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Please wait..."><i class="fa fa-group"></i> Create Group</button>
                </div>
              </form>
              <br><br><hr>
              <h4>Groups</h4>
              <hr class="botm-line">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr class="info center">
                    <th style="width: 15%">Number</th>
                    <th>Group Name</th>
                    <th style="width: 15%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each groupList}}
                  <tr class="center">
                    <td></td>
                    <td>{{this.group_name}}</td>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#manage"><i class="fa fa-cog"></i> Manage</button>
                    </td>
                  </tr>
                  {{/each }}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><!--manage_class-->
      {{/if}}
      <!--for_review-->
      {{#if committee}}
      <div id="for_review" class="tab-pane fade in active">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-sm-12">
              <h4>For Review</h4>
              <hr class="botm-line">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr class="info center">
                      <th style="width: 10%">Number</th>
                      <th style="width: 10%">Members</th>
                      <th>Title</th>
                      <th style="width: 20%">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each proposal}}
                    <tr class="center">
                      <td></td>
                      <td>4</td>
                      <td class="title">{{this.thesis_title}}</td>
                      <td class="thesis_id" hidden>{{this.id}}</td>
                      <td class="abstract" hidden>{{this.abstract}}</td>
                      <td class="inline_block">
                        <button type="button" class="onClick btn btn-success btn-sm" data-toggle="modal" data-target="#review"><i class="fa fa-eye"></i> Review</button>
                        <form action="/downloadFile" method="post">
                          <input type = "name" name="filename" value ="{{this.upload}}" hidden>
                        <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-download"></i> Download</button>
                        </form>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div><!--for_review-->
      <!--reviewed-->
      <div id="reviewed" class="tab-pane fade">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-sm-12">
              <h4>Reviewed</h4>
              <hr class="botm-line">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr class="info center">
                    <th>Number</th>
                    <th>Members</th>
                    <th>Title</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each reviewedAdviser}}
                  <tr class="center">
                    <td></td>
                    <td>4</td>
                    <td>{{this.thesis_title}}</td>
                    <td>{{this.status}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><!--reviewed-->
      {{/if}}
      <!--approved-->
      <div id="approved" class="tab-pane fade in active">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-sm-12">
              <h4>Approved by Committee</h4>
              <hr class="botm-line">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr class="info center">
                    <th>Number</th>
                    <th>Members</th>
                    <th>Title</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="center">
                    <td></td>
                    <td>4</td>
                    <td>Access Control to Home Devices using Mobile Technology</td>
                    <td>
                      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#details"><i class="fa fa-list"></i> Details</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><!--approved-->
      <!--class-->
      {{#if adviser}}
      <div id="class" class="tab-pane fade">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-sm-12">
              <h4>Class</h4>
              <hr class="botm-line">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr class="info center">
                    <th>Number</th>
                    <th style="width: 5%">Day</th>
                    <th style="width: 10%">Room</th>
                    <th>Title</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="center">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Access Control to Home Devices using Mobile Technology</td>
                    <td>
                      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#class_details"><i class="fa fa-list"></i> Details</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><!--class-->
    </div><!--tab content-->
  </div><!--well-->
</div><!--row-->
{{/if}}
<!--faculty mor-->

<!--MODAL-FORM manage-->
<div class="modal fade small" id="manage" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Manage Group</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/students/settings">
          <!--members-->
          <h5 class="modal-title">Members</h5><br>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr class="info center">
                <th style="width: 10%">Number</th>
                <th style="width: 70%">Name</th>
                <th style="width: 20%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="center">
                <td></td>
                <td></td>
                <td>
                  <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal"><i class="fa fa-close"></i> Remove from group</button>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <!--individuals-->
          <h5 class="modal-title">Individuals</h5><br>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr class="info center">
                <th style="width: 10%">Number</th>
                <th style="width: 70%">Name</th>
                <th style="width: 20%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="center">
                <td></td>
                <td></td>
                <td>
                  <button type="button" class="btn btn-sm btn-outline-success" id="loading" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Please wait..."><i class="fa fa-check"></i> Add to Group</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pull-right footer">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Done</button>
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--MODAL-FORM review-->
<div class="modal fade small" id="review" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong><h4 id="title0" class="modal-title"></h4></strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--abtract-->
        <h4 class="modal-title">Abstract</h4><br>
        <p id="abstract0" class="justify" style="margin: 0 2%"></p>
        <br><!--abtract-->
        <!--comments and status-->
        <form method="post" action="/adviser/proposals/grade">
          <input name="thesis_id" id="thesis_id0" value="" hidden>
          <div class="form-group">
            <div class="form-group">
              <textarea type="text" style="height: 80px" name="comment" placeholder="Your comments and suggestions here" class="form-control"></textarea>
            </div>
            <div class="form-group">
             <input type="radio" name="currentstage" value="2"> Approved<br>
             <input type="radio" name="currentstage" value="4"> Disapproved
            </div>
            <div class="pull-right footer">
              <button type="submit" class="btn btn-success btn-sm" id="loading" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Please wait..."> Done</button>
              <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
          </div>
        </form><!--comments and status-->
      </div>
    </div>
  </div>
</div>

<!--MODAL-FORM details-->
<div class="modal fade small" id="details" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong> Title</strong></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--abtract-->
        <h4 class="modal-title">Abstract</h4><br>
        <p class="justify" style="margin: 0 2%">This research aims to design a diagnostic tool and navigator application for automobiles. The diagnostic tool will use the STN1110 integrated circuit which can interpret vehicle data, including diagnostic trouble codes, malfunction indicator lamp status (MIL), vehicle identification number (VIN), Inspection and Maintenance (I/M) information, In-use Performance Tracking (IPT) and other parameters. The diagnostic tool will be plug into the car’s OBD II port and reads the data from the car's computer system. The data gathered by the tool will be sent to the android phone via Bluetooth. All the information can be viewed through the app's user interface. It can indicate serious issue within the engine. The user can diagnose the problem anytime. He/she can read the error code and learn whether it’s safe to drive the car or should call a tow to prevent further damage.</p>
        <hr><!--abtract-->
        <!--committee-->
        <h4>Results: </h4>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr class="info center">
              <th style="width: 10%">Number</th>
              <th>Committee</th>
              <th>Status</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr class="center">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table><!--committee-->
        <div class="pull-right footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--MODAL-FORM class_details-->
<div class="modal fade small" id="class_details" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong> Title</strong></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--abtract-->
        <h4 class="modal-title">Abstract</h4><br>
        <p class="justify" style="margin: 0 2%">This research aims to design a diagnostic tool and navigator application for automobiles. The diagnostic tool will use the STN1110 integrated circuit which can interpret vehicle data, including diagnostic trouble codes, malfunction indicator lamp status (MIL), vehicle identification number (VIN), Inspection and Maintenance (I/M) information, In-use Performance Tracking (IPT) and other parameters. The diagnostic tool will be plug into the car’s OBD II port and reads the data from the car's computer system. The data gathered by the tool will be sent to the android phone via Bluetooth. All the information can be viewed through the app's user interface. It can indicate serious issue within the engine. The user can diagnose the problem anytime. He/she can read the error code and learn whether it’s safe to drive the car or should call a tow to prevent further damage.</p>
        <hr><!--abtract-->
        <!--panel-->
        <h4>Result: <strong>PASSED</strong></h4>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr class="info center">
              <th style="width: 10%">Number</th>
              <th>Panel</th>
            </tr>
          </thead>
          <tbody>
            <tr class="center">
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table><!--panel-->
        <div class="pull-right footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$('.onClick').click(function() {
   var abstract =  $(this).closest('tr').find('.abstract').text();
   $('#abstract0').html(abstract);
   var title =  $(this).closest('tr').find('.title').text();
   $('#title0').html(title);
   var thesis_id =  $(this).closest('tr').find('.thesis_id').text();
   $('#thesis_id0').val(thesis_id);
});
$('#classhandled').on('change', function() {
     $('#submitClassId').click();
   });
</script>

{{> footer }}
